{:paths ["src" "resources"]
 :deps {babashka/fs                                     {:mvn/version "0.5.20"}
        babashka/process                                {:mvn/version "0.5.21"}
        cheshire/cheshire                               {:mvn/version "5.12.0"}
        cider/cider-nrepl                               {:mvn/version "0.28.3"}
        clj-commons/clj-yaml                            {:mvn/version "1.0.27"}
        com.lambdaisland/hiccup                         {:mvn/version "0.7.42"}
        com.nextjournal/beholder                        {:mvn/version "1.0.2"}
        hato/hato                                       {:mvn/version "0.9.0"}
        markdown-clj/markdown-clj                       {:mvn/version "1.12.1"}
        nrepl/nrepl                                     {:mvn/version "1.0.0"}
        org.clojure/tools.namespace                     {:mvn/version "1.4.4"}
        org.commonmark/commonmark                       {:mvn/version "0.21.0"}
        org.commonmark/commonmark-ext-gfm-strikethrough {:mvn/version "0.21.0"}
        org.commonmark/commonmark-ext-heading-anchor    {:mvn/version "0.21.0"}
        org.commonmark/commonmark-ext-image-attributes  {:mvn/version "0.21.0"}
        org.jsoup/jsoup                                 {:mvn/version "1.17.2"}}}
