{:paths ["src" "resources" "target/resources"]
 :deps {com.biffweb/biff {:git/url "https://github.com/jacobobryant/biff"
                          :tag "v0.7.4"
                          :sha "3ff1256"}
        io.github.furstenheim/copy_down {:mvn/version "1.0"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.0-alpha5"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        babashka/fs {:mvn/version "0.1.11"}
        com.platypub/themes {:local/root "themes"}}}
