{:paths ["src" "resources" "target/resources"]
 :deps {com.biffweb/biff {:git/url "https://github.com/jacobobryant/biff" :sha "e1f5a466becd532cff633234a9b4c576d2d9072b"}
        io.github.furstenheim/copy_down {:mvn/version "1.0"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.0-alpha5"}
        org.clojure/clojure {:mvn/version "1.11.1"}}}
