{:biff.auth/skip-captcha true

 :biff.ring/secure false

 :mailersend/api-key   "mock"
 :mailersend/base-url  "http://localhost:8080/_mock/mailersend"
 :mailersend/domain-id "mock-domain"
 :mailersend/from      "news@example.com"
 :mailersend/reply-to  "reply@example.com"

 :platypub.object-store/access-key "minioadmin"
 :platypub.object-store/secret-key "minioadmin"

 :platypub/cdn-url-template        "http://localhost:8080/_mock/cdn/%s"
 :platypub/local-minio-enabled     true
 :platypub/mock-mailersend-enabled true
 :platypub/waitlist-enabled        true}
