@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply mb-3;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul, ol {
    @apply my-3 pl-10;
  }

  .mceContentBody {
    @apply bg-black;
  }
}

@layer components {
  .btn {
    @apply bg-amber-600 hover:bg-amber-700
    text-center py-2 px-4 rounded disabled:opacity-50 text-white;
  }
}

@layer utilities {
  .link {
    @apply text-amber-700 dark:text-amber-600 hover:underline;
  }
}
