BIFF_PROFILE=prod
COOKIE_SECRET={{ new-secret 16 }}

# MailerSend
MAILERSEND_API_KEY=
MAILERSEND_FROM=
MAILERSEND_REPLY_TO=
MAILERSEND_PLAN=free
MAILERSEND_DOMAIN_ID=

# Platypub
BASE_URL=
WAITLIST_ENABLED=false
UNSUBSCRIBE_SECRET={{ new-secret 32 }}

# Object storage
# DigitalOcean Spaces API: https://<region>.digitaloceanspaces.com
OBJECT_STORE_ENDPOINT=
OBJECT_STORE_ACCESS_KEY=
OBJECT_STORE_SECRET_KEY=
OBJECT_STORE_BUCKET=
# DigitalOcean Spaces: https://<space>.<region>.cdn.digitaloceanspaces.com/%s
CDN_URL_TEMPLATE=

# Captcha
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
HCAPTCHA_SITE_KEY=
HCAPTCHA_SECRET_KEY=

# admin
ALERT_EMAIL=
ADMIN_USER_ID=
