.post-content blockquote {
  border-left: 4px solid $ACCENT_COLOR;
  font-style: italic;
  margin: 32px 0;
  padding: 0 24px;
  background-color: inherit;
  color: inherit;
  border-radius: 0;
}

.post-content a {
  color: $LINK_COLOR;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content .callout {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 2rem 0;
  padding: 1px 1rem 1px 1.5rem;
  background: $ACCENT_COLOR18;
  border-left: 0.25rem solid $ACCENT_COLOR;
}

.post-content .callout a {
  text-decoration: underline;
}
