{:paths ["src" "resources"]
 :deps {rum/rum {:mvn/version "0.12.8"
                 :exclusions [cljsjs/react cljsjs/react-dom]}
        babashka/fs {:mvn/version "0.3.17"}
        cheshire/cheshire {:mvn/version "5.11.0"}}}
