body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 140%;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  border: 1px solid #eee;
  display: block;
  margin: 10px 0;
}

hr {
  border-width: 0.5px;
  margin: 32px 0;
  border-color: #a3a3a3;
}

a {
  text-decoration: none;
  color: #0066cc;
}

.post-content a {
  text-decoration: underline;
  color: inherit;
}

p, li {
  line-height: 155%;
}

li {
  margin-bottom: 12px;
}

.post-content .webonly {
  display: none;
}
