module.exports = {
  content: [
    'public/**/*.html',
  ],
  theme: {
    extend: {
      colors: {
        'primary': '{{primary-color}}',
        'accent': '{{accent-color}}',
        'tertiary': '{{tertiary-color}}',
      },
    },
  },
  plugins: [
    require('@tailwindcss/forms'),
  ],
}
